################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProgramLauncher/obj/Debug
/ProgramLauncher/bin/Debug
